<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>


<header th:fragment="header">
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/verCarrinho">Ver Carrinho</a></li>
            <!-- Adicione outros links de navegação aqui -->
        </ul>

        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </nav>

</header>

<footer th:fragment="footer">
    <h6>Rodapé do site</h6>
</footer>


<!-- Display da tabela dos produtos -->
<div th:fragment="tabelaEletro(eletros)" class="container">
    <table style="border: 2px solid black;">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Marca</th>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Modelo</th>
            <th>Imagem</th>
            <th>Editar</th>
            <th>Deletar</th>
            <th>Add carrinho</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="eletro : ${eletros}">
            <td th:text="${eletro.nome}"></td>
            <td th:text="${eletro.preco}"></td>
            <td th:text="${eletro.marca}"></td>
            <td th:text="${eletro.categoria}"></td>
            <td th:text="${eletro.descricao}"></td>
            <td th:text="${eletro.modelo}"></td>
            <td><img th:src="@{'/img/' + ${eletro.imageUrl}}" alt="Imagem do Eletro"/></td>
            <td><a th:href="@{'/editPage/' + ${eletro.id}}">Editar</a></td>
            <td><a th:href="@{'/processDelete/' + ${eletro.id}}">Deletar</a></td>
            <td><a th:href="@{/adicionarCarrinho/{id}(id=${eletro.id})}">Add ao Carrinho</a></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>
