<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EletroTADS - User</title>

    <div th:replace="fragments/commons::bootcss"></div>
    <div th:replace="fragments/commons::header_user"></div>
    <div th:replace="fragments/commons::navigation"></div>

</head>
<body>

<!-- Exibe a mensagem se existir -->
<p th:if="${msg}" class="message" th:text="${msg}"></p>

<!-- Inclua o fragmento dos produtos -->
<div th:replace="fragments/commons::display_produtos_user"></div>


<footer th:replace="fragments/commons::footer"> </footer>
<div th:replace="fragments/commons::bootjs"></div>

</body>
</html>

