<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f4f4f4;
        }
        img {
            max-width: 100px;
            height: auto;
        }
    </style>
</head>
<body>

<div th:replace="fragments/commons::header"></div>

<h1>Carrinho</h1>

<!-- Exibe a mensagem se existir -->
<p th:if="${msg}" class="message" th:text="${msg}"></p>

<!-- Exibe a tabela apenas se o carrinho não estiver vazio -->
<table th:if="${itens != null and #lists.size(itens) > 0}">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Marca</th>
        <th>Categoria</th>
        <th>Modelo</th>
        <th>Descrição</th>
        <th>Imagem</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="eletro : ${itens}">
        <td th:text="${eletro.nome}"></td>
        <td th:text="${eletro.preco}"></td>
        <td th:text="${eletro.marca}"></td
        <td th:text="${eletro.modelo}"></td>
        <td>
            <img th:src="@{'/img/' + ${eletro.imageUrl}}" alt="Imagem do Eletro"/>
        </td>
    </tr>
    </tbody>
</table>

<a href="#" th:href="@{/index}">Voltar para a Lista</a>

<footer th:fragment="footer">
    <h6>Rodapé do site</h6>
</footer>

</body>
</html>
